<div id="cover" class="cover">
  <div class="container">
    <div data-aos="fade-right" class="cover-copy">
      <h1><%= contents.header.title %></h1>
      <p><%= contents.header.text %></p>
      <a id="whybridge" href="<%= contents.header.link %>" class="btn btn-primary btn-circle"><%= contents.header.linkText %></a>
    </div>
  </div>
</div>