<div class="footer" id="footer">
  <img src="/media/shapes/circle.svg" alt="circle" />

  <div class="footer-copy container-fluid">
    <div class="row">
      <div class="col-md-3 logo">
        <img src="/media/logo.svg" alt="bridge logo" />
      </div>
      <div class="col-md-9 sections">
        <div class="row">
          <div class="col-md-3">
            <span class="title-section">Features</span>
            <a href="/#how-it-work">How It Works</a>
            <a href="/#features">Features</a>
          </div>
          <div class="col-md-3">
            <span class="title-section">Company</span>
            <a href="/#why-bridge">Why Bridge</a>
            <a href="/#review">Testimonials</a>
            <a href="/privacy-policy">Privacy</a>
            <a href="/terms-condition">Terms and Conditions</a>
          </div>
          <div class="col-md-3 informations">
            <span class="title-section">Contact</span>
            <ul class="bridge-informations">
              <li>
                <a href="mailto:info@bridgeme.app"><span><img src="/media/icons/mail.svg" alt="mail" /></span></a>
                <p>info@bridgeme.app</p>
              </li>
            </ul>
          </div>
          <div class="col-md-3 social">
            <span class="title-section">Social</span>
            <div class="social-links">
              <a class="social-item" href="<%= contents.socials.instagram %>"><img src="/media/icons/instagram.svg" alt="Instagram" /></a>
              <a class="social-item" href="<%= contents.socials.facebook %>"><img src="/media/icons/facebook.svg" alt="Facebook" /></a>
              <a class="social-item" href="<%= contents.socials.twitter %>"><img src="/media/icons/twitter.svg" alt="Twitter" /></a>
              <a class="social-item" href="<%= contents.socials.linkedin %>"><img src="/media/icons/linkedin.svg" alt="Twitter" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <p>&copy; Copyright 2021 Bridge All Rights Reserved</p>
  </div>
</div>

<!-- scripts -->
<script>
  AOS.init();
</script>
<script src="/js/main.js"></script>
