<div id="navbar" class="navbar-flex">
  <div class="container">
    <a href="#" class="navbar-logo">
      <img src="/media/logo.svg" alt="Logo Bridge" />
    </a>
    <a href="#" class="navbar-phone"><span></span><span></span><span></span></a>

    <ul class="navbar-list">
      <li class="navbar-item"><a href="/">Home</a></li>
      <li class="navbar-item"><a href="/#why-bridge">Why Bridge</a></li>
      <li class="navbar-item"><a href="/#features">Features</a></li>
      <li class="navbar-item"><a href="/#how-it-work">How It Works</a></li>
      <li class="navbar-item"><a href="/privacy-policy">Privacy Policy</a></li>
      <li class="navbar-item"><a href="/terms-condition">Terms</a></li>
      <li class="navbar-item"><a class="btn-link" href="/#signup">Sign Up</a></li>
    </ul>
  </div>
</div>