.footer {
  position: relative;
  z-index: 0;
  background: linear-gradient(96.21deg, rgba(228, 235, 211, 0.4) -1.8%, rgba(185, 198, 158, 0.4) 104.36%);
  border-top-right-radius: 140px;
  margin-top: 200px;

  > img {
    position: absolute;
    top: -50px;
    width: 120px;
  }

  .footer-copy {
    padding: 50px;

    .col-md-3 {
      padding: 0 5px!important;
    }

    > p {
      font-size: 16px;
      text-align: center;
      margin-bottom: 0;
    }

    .logo {
      text-align: center;
      > img {
        width: 75%;
      }
    }

    .sections {
      .title-section {
        font-weight: bold;
        color: #616161;
        margin-bottom: 10px;
        display: block;
        text-align: left!important;
      }

      a {
        display: block;
        text-decoration: none;
        color: #7c7c7c;
        font-weight: 500;
        margin-bottom: 5px;
      }
    }

    .social {
      .social-links {
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;

        .social-item {
          margin-right: 20px;
          img {
            height: 24px;
          }
        }
      }
    }

    .links {
      .bridge-links {
        list-style: none;
        padding: 0;
        margin: 0;
        padding-left: 50px;

        li {
          margin-bottom: 15px;

          a {
            text-decoration: none;
            color: #616161;
            font-weight: 500;
          }
        }
      }
    }

    .informations {
      .bridge-informations {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          align-items: center;
          margin-top: 20px;

          span {
            background-color: $primary-first;
            padding: 10px;
            border-radius: 100px;
            margin-right: 10px;

            img {
              width: 20px;
              height: 20px;
            }
          }

          p {
            font-weight: 500;
            margin: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1430px) {
  .footer {
    .row {
      .col-md-4 {
        margin-bottom: 50px;
      }
    }

    .informations {
      .bridge-informations {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          align-items: center;
          margin-top: 20px;

          span {
            background-color: $primary-first;
            padding: 5px!important;
            border-radius: 100px;
            margin-right: 5px!important;

            img {
              width: 14px;
              height: 14px;
            }
          }

          p {
            font-weight: 500;
            font-size: 12px;
            margin: 0;
          }
        }
      }
    }
    
  }
}

@media (max-width: 767px) {
  .footer {
    .row {
      .col-md-4 {
        margin-bottom: 50px;
      }
    }

    .col-md-3 {
      margin-top: 30px;
    }

    .social {
      text-align: center;

      > img {
        width: 60%!important;
      }

      .social-links {
        margin-top: 20px!important;
        .social-item {
          img {
            height: 32px!important;
          }
        }
      }
    }
    
  }
}